





.footer{
    flex-shrink: 0;
    width: 100%;
    min-height: 140px;
    background-color:var(--primary-color);
    
    
}

.footer h3,p{
    text-align: center;
    color:white;
    padding: 20px 0px 0px 0px;
}



.content-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

 content-button a{
    background-color: var(--button-color);
    color:var(--text-color);
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 10px;
    margin: 10px;
    
     
}

.content-button a {
    
    margin: 12px;
    padding: 8px;
    font-size:medium;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--button-color);
    border-radius: 8px;
   
   

}
