

.form-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}


.first-view {
    display: block;
}

/* ---------onglet connexion et inscription -------*/

.onglets {
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0px;
    cursor: pointer;
}

.BlogueurUser input[type="text"]:focus {
   
outline-color:#ffddc8;
    
}




.mail-password-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
}

.mail-password-container input {
    border: 1px solid;
    color: #717886;
    padding: 3px 3px;
}
.mail-password-container input:focus[type="email"],input[type="password"] {
    
  outline-color: #ffddc8;
    
}
.mail-password-container input[type="submit"] {
    background-color:#ffddc8 ;
    cursor: pointer;
    color: #717886;
    
}


.mail-password-container input[type="submit"]:hover{
    background-color: white;
    border:2px solid #ffddc8;
   
}


/* -------se souvenir de moi et mdp oublié ------*/




/* ----------choix role utilisateur ----------------*/

.user-role {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: var(--text-color);
    gap: 10px;
    flex-wrap: wrap;
}

.user-role label:first-child {
    border-right: 2px solid #ffddc8;
    padding-right: 5px;
}

.user-role input[type="radio"] {
    margin:0;
    accent-color: #ffddc8;
    
    
}


/*-------------------CONNEXION CONTAINER-------------------------*/


#redirection-inscription p {

   color: #ffffff;
}
#redirection-inscription a {

    text-decoration: none;
}

#redirection-inscription a:hover {
    text-decoration: underline;
}

.mail-password-container {
    width: 100%;
}




/*-----------ajout de classe pour style dans le js----------------*/

.hidden {
    display: none !important;
}

/*---------------------------------------------------------------*/

/*-------------message error email invalide*--------------*/



#msgErrorNom,
#msgErrorPrenom,
#msgErrorPassword,
#msgErrorPasswordVerify,
#msgErrorEmail,
#msgErrorEmailConnexion,
#msgErrorPasswordConnexion {
   
    color: rgb(244, 110, 110);
    font-size: 12px;
    margin: 0;
    padding-top: 2px;
    text-align: center;
    

}

