<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="../assets/footer.css">
</head>
<body>
    <div class="content-footer">
       <footer>
            <h3>Vous êtes blogueur(se) ? Partagez votre passion !</h3>
            <p>
                Vous avez des idées, des conseils ou des expériences à partager ? Rejoignez notre communauté de blogueurs invités et publiez vos articles sur BLOG-BUSTER. C’est l’occasion de faire connaître vos écrits et d’enrichir notre univers ensemble.</p>
                <div class="content-button">
                    <a href="">Découvrir</a>
                </div>
       
        </footer> 
    </div>
    
    
</body>
</html>