<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="../assets/form.css">
   
</head>
<body>
    <div class="form-container">
        <div class="onglets">
            <button id="btn-connexion">Connexion </button>
            <button id="btn-inscription">Inscription</button>
        </div>
        
    <form action="">
            <div class="mail-password-container">
                <input type="email" name="mail" id="mail" placeholder="E-MAIL" required>
                <input type="password" name="password" id="password" placeholder="MOT DE PASSE">
                <input type="submit" value="Se connecter" id="connexion">  
            </div>
           

            <div class="content-remember-password">
                <input type="checkbox" name="remember-me" id="remember-me">
                <label for="remember-me">Se souvenir de moi</label>
                <a href="">Mot de passe oublié ?</a>
            </div>
       
        </form>
    </div>
</body>
</html>