<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="../assets/header.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo-title">
                <img src="" alt="imageLogo">
                <h1>BLOG-BUSTER</h1>  
            </div>
            
            <nav>
                <ul>
                    <li>Travel</li>
                    <li>Beauty</li>
                    <li>Fitness</li>
                </ul>
            </nav>
            <div id="user">
                    <p>
                        T
                    </p>
            </div> 
        </div>   
    </header>
   

    <script src="./header.js"></script>
</body>
</html>